.container {
  width: 110rem;
  padding: 3rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.links {
  text-decoration: none;
  color: #0b0a5e;
}

.header {
  text-align: center;
  margin-top: 5rem;
}
